<div class="container">
<div class="row">
    <div class="row" style= "background-color:green ; padding :15px; font-size:70px;text-align: center;">
    {{pokemonDetail.name | titlecase}}

</div>
<div class="row" style="margin-top:50px">
    <div class="col-xs-4"></div>

<div class="col-xs-3" *ngFor="let types of pokemonDetail.types">

    <p [style.background]="_getTypeColour(types.type.name)" style="width:140px;text-align:center;padding:10px 35px">{{types.type.name | titlecase }}</p>   
</div> 
</div> 
  
<hr>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
        <img [src]="imgSrc" style="width:160px; height:auto" alt="">
        </div>
<ul class="col-xs-3" style="text-decoration: none;">
    <li *ngFor="let stat of pokemonDetail.stats" style="list-style: none;">
        <p style="margin-right:30px">{{ stat.stat.name |uppercase }}</p>
    </li>
  </ul>
  
  <ul class="col-xs-2">
    <li *ngFor="let stat of pokemonDetail.stats" style="text-decoration: none;list-style: none; padding:5px">
        <progress [value]="stat.base_stat" max="100">sdd</progress>
       
    </li>
  </ul>
</div>


<div class="row">
    <div class="row" style= "background-color:green ; padding :5px; font-size:25px;color:white">Profile</div>
<div style="margin-top:30px">
    <div class="row">
    <div class="col-xs-1">
       <p class="font-size:12px margin-right:30px"><span><b>Height:</b></span> </p>
    </div>
    <div class="col-xs-2">
        <p class="font-size:12px margin-right:30px"><b>{{pokemonDetail.height}} </b> </p>
     </div>
    </div>
    <div class="row">
     <div class="col-xs-1">
        <p class="font-size:12px margin-right:30px"><span><b>Weight:</b></span> </p>
     </div>
     <div class="col-xs-2">
         <p class="font-size:12px margin-right:30px"><b>{{pokemonDetail.weight}} </b> </p>
      </div>
    </div>


    <div class="row" >
        <div class="col-xs-1">
           <p class="font-size:12px margin-right:30px"><span><b>Abilities:</b></span> </p>
        </div>
        <div class="col-xs-1" *ngFor="let types of pokemonDetail.abilities">
            <p class="font-size:12px margin-right:30px"><b>{{types.ability.name}} </b> </p>
         </div>
       </div>
</div> 
</div>

<div class="row">
<div class="row" style= "background-color:green ; padding :5px; font-size:25px;color:white; margin-bottom: 20px;">Evolutions</div>
</div>         

        
</div>
</div>









